.footer {
    background-color: white;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.footer__copyrights {
    font-family: "Roboto";
    color: #B6BCBF;
}

.footer__copyrights,
.footer__list {
    width: 50%;
    max-width: 800px;
}

.footer__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.footer__links {
    font-family: "Roboto";
    color: black;
    text-decoration: none;
}

@media (max-width: 1600px) {
    .footer {
        justify-content: space-between;
    }

    .footer__copyrights,
    .footer__list {
        width: auto;
    }
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        height: auto;
        padding: 16px;
    }

    .footer__copyrights {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .footer__list {
        flex-direction: column;
        gap: 16px;
    }
}